html, body {
    height: 100%;
}

body {
    overflow: hidden;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 860px;
    perspective-origin: center -5em;
}

.side,
.container {
    width: 10em;
    height: 10em;
}

.container {
    transform-style: preserve-3d;
    display: inline-block;
    margin:  0 3em 0;
    transform: rotateY(45deg);
    animation: rotate 10s ease-in-out infinite normal;
}

.container:nth-child(2) {
    perspective: 50px;
}

.side {
    position: absolute;
    width: 10em;
    height: 10em;
    opacity: 0.2;
    border: .1px solid #c17373;
}

.back {
    transform: translateZ( -5em);
    
    background: rgb(151,155,182);
    background: linear-gradient(90deg, rgba(151,185,232,1) 0%, rgba(151,185,232,0.9472163865546218) 20%, rgba(92,208,232,1) 100%);
    
}

.front {
    transform: translateZ( 5em);
    
    background: rgb(151,155,182);
    background: linear-gradient(90deg, rgba(151,185,232,1) 0%, rgba(151,185,232,0.9472163865546218) 20%, rgba(92,208,232,1) 100%);
    
}

.left {
    transform: translateX(-5em) rotateY(90deg);
    
    background: rgb(151,155,182);
    background: linear-gradient(90deg, rgba(151,185,232,1) 0%, rgba(151,185,232,0.9472163865546218) 20%, rgba(92,208,232,1) 100%);

}

.right {
    transform: translateX(5em) rotateY(90deg);
    
    background: rgb(151,155,182);
    background: linear-gradient(90deg, rgba(151,185,232,1) 0%, rgba(151,185,232,0.9472163865546218) 20%, rgba(92,208,232,1) 100%);

}

.top {
    transform: translateY(-5em) rotateX(90deg);

    background: rgb(151,155,182);
    background: linear-gradient(90deg, rgba(151,185,232,1) 0%, rgba(151,185,232,0.9472163865546218) 20%, rgba(92,208,232,1) 100%);
}

.bottom {
    transform: translateY(5em) rotateX(90deg);

    background: rgb(151,155,182);
    background: linear-gradient(90deg, rgba(151,185,232,1) 0%, rgba(151,185,232,0.9472163865546218) 20%, rgba(92,208,232,1) 100%);
}


@keyframes rotate {
    0%{
        transform: rotateY(45deg);
    }

    30% {
        transform: rotateY(225deg);
    }

    100% {
        transform: rotateY(225deg);
    }
}